.hero{
    margin: 1rem;

    &__one{
        text-align: center;

        img{
            width: 90%;
        }
    }
    &__two{
        .blur{
            width: 110%;
            height: 80px;
            margin-top: -3rem;
            margin-left: -2rem;
            background: #F7F7F7;
            filter: blur(20px);
        }
        .parag{
            margin-top: 0rem;
            z-index: 2;
        }

        &-msg{
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: justify;

                color: #3D4149;
            }

            button{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                color: #000000;
                background-color: inherit;
                border: 0;

            }
        }

    }
}