.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;

    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    ul{
        display: none;
    }

    a{
        text-decoration: none;
        color: #000000;
    }
    a:hover{
        border-bottom: 2px solid black;
    }

    @media (min-width: 768px){
        width: 90%;
        margin: 3rem;
        .header__nav{
            img{
                display: none;
            }

            ul{
                display: block;
                display: flex;

                li{
                    text-decoration: none;
                    list-style: none;
                    margin-right: 1rem;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;

                    color: #000000;
                }
            }
        }
    }
}